body{
    background-color: rgba(255, 255, 255, 0.836);
    text-decoration: none;
}

.CDP{
/*width: 1250px;
height: 1980px;*/
margin: 0 auto;
border: 5px;
border-color: black;
overflow: hidden;

}

.CDP .contenedor{
    width: 1250px;
    height: 300px;
    overflow:  hidden;
    position: relative;
    margin: 30px auto;
    border: 2px;
    border-color: black;
}

.contenedor img{
    width: 100%;
    height: 100%;

}

.contenedor .P1{
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: absolute;
    top: 24%;
    left: 5%;
    transform: translate(-50% -50%);
    text-align: left;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}


/* .CDS{
    width: 1250px;
    height: 300px;
    overflow:  hidden;
    position: relative;
    margin: 30px auto;
    background-color: rgb(117, 85, 37);
    border: 2px color black;
} */

 h1{
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
    text-align: center;
}

.CDP .img2{
height: 300px;
width: 400px;
left: 197px;
top: 841px;
border-radius: 20px;
margin-left: 197px;

}

.CDP .P2{
    font-size: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align:right;
    text-align: justify;
    margin-top: -300px;
    margin-left: 700px;
    margin-right: 50px;
    height: 209px;
    width: 460px;
    left: 855px;
    top: 872px;


}

.btn{
    background-color: purple;
    color: white;
    margin-top:-170px;
    margin-left: 700px;
    margin-right: 50px;
    height: 60px;
    width: 250px;
    left: 855px;
    top: 1000px;
    border-radius: 10px;    
}

.icon img{
margin: auto;

color: gray;
float: left;

padding-left: 20px;
height: 150px;
width: 150px;

}
/*#icon1{
    background-color: red;

}
#icon2{
    
}
#icon3{
    background-color: rgba(13, 60, 202, 0.439);
    
}*/

#Cicon{
    margin: 1000px;
    padding: 1rem;
    color: black;
    border: 2px color solid red;

}

.ImgNoticias{
    display: flex;
    justify-content: center;
    
   }
footer{
    width: 100%;
    height: 20%;
    padding: 1em;
    background-color: rgb(29, 29, 101);
    bottom: 0;
}

.footer .abajo{
text-align: center;
}
header{
    width: 100%;
    height: 30%;
    padding: 3em;
    background-color: rgb(29, 29, 101);
    top: 0;
    
}

li{
    list-style: none;
    float: left;
    color: black;
    margin: 20px;
    size: 20px;
}

nav{
    float: right;
}
img{
    align-items: center;
}
#FooterP{
    text-align: right;
    color: black;
    margin-right: 100px;
    font-size: large;

}
